@import '../../../commonStyles/styles';

.folder, .file {
    flex-basis: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 1.4em;
    }
}

.file {
    cursor: pointer;
    position: relative;

    .preview {
        max-width: 200px;
    }

    img {
        max-width: 100%;
    }

    a {
        position: absolute;
        right: 0;
        top: 50%;
        text-decoration: none;
        color: lighten($black, 25%);
        background-color: transparentize($white, 0.25);
        border-radius: 5px;
        font-size: 1.4em;
        padding: 5px 10px;

        &:visited {
            color: lighten($login_btn, 25%);
        }
    }
}

.icon {
    max-width: 150px;

    img {
        max-width: 100%;
    }
}