/* text */
$main-font-size: 10px;

/* colors */
$white: #fff;
$black: #000;
$gray: #333;
$login_btn: rgb(50, 224, 108);

:root {
    background-color: $gray;
}

:global(#app) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $main-font-size;
    p {
        margin: 0;
        padding: 0;
    }
}