/* text */
$main-font-size: 10px;

/* colors */
$white: #fff;
$gray: #333;
$login_btn: rgb(50, 224, 108);

:root {
    background-color: $gray;
}

#app {
    font-family: Arial, Helvetica, sans-serif;
}